<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>키오스크 메인화면</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="root"></div>
        <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
        <script type="text/babel">
            const root = document.getElementById("root");

            const Outline = ({ children }) => {
                return <div className='outline'>{children}</div>;
            };

            const Header = () => {
                return (
                    <div className='header'>
                        <img src='./img/subway.png' />
                    </div>
                );
            };

            const SelectType = ({ setType, type }) => {
                const onClickHandler = (event) => {
                    const id = event.target.id;
                    if (id === "assemble") {
                        setType(0);
                    } else if (id === "full") {
                        setType(1);
                    }
                };

                return (
                    <div className='select_type'>
                        <div id='assemble' onClick={onClickHandler}>
                            조립식으로 구매
                        </div>
                        <div id='full' onClick={onClickHandler}>
                            완제품으로 구매
                        </div>
                    </div>
                );
            };

            const SelectMenu = () => {
                return <div className='select_menu'>a</div>;
            };

            const Menufooter = () => {
                return <div className='menu_footer'>a</div>;
            };

            const App = () => {
                const [type, setType] = React.useState(0);
                const [menu, setMenu] = React.useState("");

                return (
                    <Outline>
                        <Header />
                        <SelectType setType={setType} type={type} />
                        <SelectMenu />
                        <Menufooter />
                    </Outline>
                );
            };

            ReactDOM.render(<App />, root);
        </script>
    </body>
</html>
